html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: rgb(254 240 240);
  font-family: sans-serif;
  color: #3a3a3a;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header p {
  font-size: 2rem;
}

.credentials input {
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  width: 10rem;
  margin: 0px 0.5rem;
}

.login-btn {
  padding: 1rem 2rem;
  background-color: black;
  border-radius: 2rem;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
  box-shadow: 0px 1px 3px 1px grey;
  transition: transform ease-out 0.2s;
}

.login-btn:active {
  transform: translateY(5px);
}

.container {
  /* border: 2px solid red; */
  width: 90rem;
  margin: auto;
  height: 44rem;
  display: flex;
  flex-direction: column;
}

.balance-div {
  display: flex;
  justify-content: space-between;
}

.balance-text .text {
  font-size: 2rem;
  margin: 0px;
}
.balance-text .date {
  font-size: 1.2rem;
  margin: 1px 0px;
}

.balance-div .balance-value {
  font-size: 40px;
  margin: 0px;
  color: green;
}
.transaction-div {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.left-div,
.right-div {
  /* border: 2px solid indigo; */
  display: inline-block;
  /* width: 49%; */
}
.left-div {
  width: 58%;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px -3px black;
}
/* ############## right div ############# */
.right-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}
.action-div {
  height: 30%;
  /* border: 3px solid green; */
}
.transfer-div {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 209, 67, 1) 0%,
    rgba(255, 145, 83, 1) 90%
  );
  border-radius: 1.5rem;
}
.request-div {
  background: #dce35b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #45b649,
    #dce35b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #45b649,
    #dce35b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 1.5rem;
}
.close-div {
  background: #f953c6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #b91d73,
    #f953c6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #b91d73,
    #f953c6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 1.5rem;
}
